header{
    padding: 70px 0 92px;
}
.nav-list{
    display: flex;
    gap: 99px;
    justify-content: center;
    &__link{
        transition: color 250ms ease;
        color:getColor("nav");
    
        &:hover{
            color:getColor("hover");
        }
    }
}
