html {
  scroll-behavior: smooth;
}
button {
  display: block;
  cursor: pointer;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
.container {
  width: 100%;
  min-width: 320px;
  max-width: 767px;
  padding: 0 15px;
  margin: 0 auto;

  @media (min-width: 768px) {
    max-width: 936px;
  }
}

body {
  font-family: "Playfair Display", serif;
  color: getColor("text");
  @extend %text;
}
